{% extends 'base.html' %}
{% block content %}
<h3 class= "center-align">Fish Recipes</h3>
<div class="row">
    <div class ="col s12 m12 l9 offset-l2 ">
        {% if count > 1 or count == 0 %}
        <p>There are currently <strong> {{ count }} </strong> recipes to explore</p>
        {% else %}
        <p>There is currently <strong> {{ count }} </strong> recipe to explore</p>
        {% endif %}
    </div>
</div>
{% for recipe in recipes %}
    {% if recipe.food_type == "Fish" %}
    
       <div class="row">
            <ul class="collapsible col s12 m12 l9 offset-l2 teal" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header teal">
                        <div class="col 12">
                            <i class="material-icons">expand_more</i>
                            <strong class="align-center">{{recipe.recipe_name}} - {{recipe.food_type}} - {{recipe.continent_name}}  - {{recipe.allergy_name}}</strong> 
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <p>Created by:<strong> {{recipe.users}}</strong></p>
                        <p>Created by:<strong> {{recipe.users}}</strong></p>
                        <ul>
                            <li>Ingredients: {{recipe.recipe_ingredients}}</li>
                            <br/>
                            <p>Instructions:</p> 
                            <li>1) {{recipe.recipe_instructions1}}</li>
                            <br>
                            <li>2) {{recipe.recipe_instructions2}}</li>
                            <br>
                            <li>3) {{recipe.recipe_instructions3}}</li>
                            <br>
                            <li>4) {{recipe.recipe_instructions4}}</li>
                    </div>
                    <div class="row">
                        <div class="col 4">
                            <a href="{{url_for('view_recipe', recipe_id = recipe._id)}}" class="waves-effect waves-light btn  food_button deep-orange">View</a>
                        </div>
                        <div class="col 4">
                            <strong>Likes: {{ recipe.likes }}</strong>
                            <strong>Dislikes: {{recipe.dislikes}}</strong>
                        </div>
                    </div>
        </div>
    {% endif %}

{% endfor %}
<div class="row">
        <div class ="col s12 m12 l9 offset-l2">
            <nav class="white">
                <ul class="pagination ">
                    {% if 1 == (offset|int) %}
                    <li class="page-item disabled "><a class="page-link " href="{{ url_for('prev_fish_page', offset=offset|int-1) }}">Previous</a></li>
                    {% else %}
                    <li class="page-item "><a class="page-link " href="{{ url_for('prev_fish_page', offset=offset|int-1) }}">Previous</a></li>
                    {% endif %}
                    {% if count <= (offset|int)*5 %}
                    <li class="page-item disabled "><a class="page-link " href="{{ url_for('next_fish_page', offset=offset|int+1) }}">Next</a></li>
                    {% else %}
                    <li class="page-item "><a class="page-link " href="{{ url_for('next_fish_page', offset=offset|int+1) }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
  </div>
    <div class = "row"> 
        <div class ="col s12 m12 l9 offset-l2">
            <a href="{{url_for('add_recipe')}}"class="waves-effect waves-light btn blue">Add Recipe</a>
        </div>
    </div>


{% endblock %}