{% extends 'base.html' %}
{% block content %}
<h3 class= "center-align ">North American Recipes</h3>
{% for recipe in recipes %}
    {% if recipe.continent_name == "North America" %}
    
       <div class="row">
            <ul class="collapsible col s12 m12 l9 offset-l2 purple" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header purple">
                        <div class="col 12">
                            <i class="material-icons">expand_more</i>
                            <strong class="align-center ">{{recipe.recipe_name}} - {{recipe.food_type}} - {{recipe.continent_name}} - {{recipe.allergy_name}}</strong> 
                        </div>
                    </div>
                    <div class="collapsible-body ">
                        <ul>
                            <li>Ingredients: {{recipe.recipe_ingredients}}</li>
                            <br/>
                            <p>Instructions:</p> 
                            <li>1) {{recipe.recipe_instructions1}}</li>
                            <br>
                            <li>2) {{recipe.recipe_instructions2}}</li>
                            <br>
                            <li>3) {{recipe.recipe_instructions3}}</li>
                            <br>
                            <li>4) {{recipe.recipe_instructions4}}</li>
                    </div>
                    <div class="row">
                        <div class="col 4">
                            <a href="{{url_for('view_recipe', recipe_id = recipe._id)}}" class="waves-effect waves-light btn  food_button deep-orange">View</a>
                        </div>
                    </div>
                    <div class="col 4">
                            <strong>Likes: {{ recipe.likes }}</strong>
                            <strong>Dislikes: {{recipe.dislikes}}</strong>
                        </div>
        </div>
    {% endif %}

{% endfor %}
    <div class = "row"> 
        <div class ="col s12 m12 l9 offset-l2">
            <a href="{{url_for('add_recipe')}}"class="waves-effect waves-light btn blue">Add Recipe</a>
        </div>
    </div>

    
{% endblock %}