<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href ="static/css/style.css">
    </head>
    <body class="body">
        <header>
            <ul id='dropdown1' class='dropdown-content green'>
                <li><a href="{{ url_for('africa')}}"><span class="white-text">Africa</span></a></li>
                <li><a href="{{ url_for('asia')}}"><span class="white-text">Asia</span></a></li>
                <li><a href="{{ url_for('australia')}}"><span class="white-text">Australia</span></a></li>
                <li><a href="{{ url_for('europe')}}"><span class="white-text">Europe</span></a></li>
                <li><a href="{{ url_for('namerica')}}"><span class="white-text">North America</span></a></li>
                <li><a href="{{ url_for('samerica')}}"><span class="white-text">South America</span></a></li>
            </ul>
            <nav>
                <div class="nav-wrapper green">
                    <a class="brand-logo center"></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('get_cookbook')}}">All Recipes</a></li>
                        <li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
                        <li><a href="{{ url_for('allergies')}}">Allergens</a></li>
                        <li><a class='dropdown-button1' href='#' data-activates='dropdown1'>Continents</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class = "section"></div>
            {% block content%}
               
            {% endblock %}
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
        </script>
</html>
    