{% extends 'base.html' %}
{% block content %}
<h3 class= "center-align ">Welcome to the Global Cookbook</h3>
<h5 class=" center-align ">Please select a continent to begin your culinary adventure</h5>
<div class ="row center-align">
    <div class="col s12 m5 offset-m2 l6">
        <a href="{{url_for('europe')}}" class="center-align">
           <img src="static/images/europe.jpg" alt="Europe">
        </a>
        <div>Europe</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="{{url_for('namerica')}}" class="center-align">
            <img src="static/images/namerica.jpg"></img>
        </a>
        <div>North America</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="{{url_for('samerica')}}" class="center-align">
            <img src="static/images/samerica.jpg"></img>
        </a>
        <div>South America</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="{{url_for('asia')}}" class="center-align">
            <img src="static/images/asia.png"></img>
        </a>
        <div>Asia</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="{{url_for('africa')}}" class="center-align">
            <img src="static/images/africa.jpg"></img>
        </a>    
        <div>Africa</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="{{url_for('australia')}}" class="center-align"></a>   
        <div>Australia</div>
    </div>
</div>
{% endblock %}