{% extends 'base.html' %}
{% block content %}
<h3 class= "center-align ">Welcome to the Global Cookbook</h3>
<h5 class=" center-align ">Please select a continent to begin your culinary adventure</h5>
<div class ="row center-align">
    <div class="col s12 m5 offset-m2 l6">
        <a href="{{url_for('europe')}}" class="center-align"></a>
        <div>Europe</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="#" class="center-align"></a>
        <div>North America</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="#}" class="center-align"></a>
        <div>South America</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="#" class="center-align"></a>
        <div>Asia</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="#" class="center-align"></a>    
        <div>Africa</div>
    </div>
    <div class="col s12 m5 offset-m2 l6">
        <a href="#" class="center-align"></a>   
        <div>Australia</div>
    </div>
</div>
{% endblock %}